<div class="container border shadow mt-5 w-25 p-3">
  <%= simple_form_for @academy do |f| %>
    <%= f.input :name, label: 'Nombre' %>
    <%= f.input :address, label: 'Dirección' %>
    <%= f.button :submit, 'Actualizar Academia', class: 'btn btn-primary' %>
  <% end %>
</div>
