<h1>Academias</h1>

<ul>
  <% @academies.each do |academy| %>
    <li>
      <%= link_to academy.name, academy_path(academy) %>
    </li>
  <% end %>
</ul>

  <%= link_to 'Añadir Nueva Academia', new_academy_path %>
